<h1><p>cuttingBoard</p></h1>
<div class='container'>

  <table id="new_user">
    <tr><th><h3>New User Registration</h3></th></tr>
    <span class='registration'><tr><td><form action="/new" method="post">
    <label>Desired Username: </label>
    <input id="login_box" class="box" type="text" name="username" placeholder="username" maxlength="30"></td></tr></span>

    <tr><td><label>Enter Your Email: </label>
    <input id="login_box" class="box" type="email" name="email" placeholder="email">
    </td></tr>

    <tr><td><label>Set your password: </label>
    <input id="login_box" class="box" type="password" name="password" placeholder="password">
    </td></tr>

    <tr><td><label>Confirm Password: </label>
    <input id="login_box" class="box" type="password" name="confirm_password" placeholder="Re-enter password">
    <p></td></tr>
    <tr><td><input id="button" type="submit" value="Register"></input></td></tr></p>
  </form></span>
</table></div>

<div>
  <footer>
    <table>
      <tr id="footlogo">
        <td><font size="35px">cuttingBoard</font>
        </td>
        <td id="footinfo">"here is the footer"</td>
      </tr>
    </table>
  </footer>
</div>