<h1><p>cuttingBoard</p></h1>
<div class='container'>

  <table id='new_user'>
    <tr><th><h3>New User Registration</h3></th></tr>
    <span id='registration'><tr><td><form action="/new" method="post">
    <label>Desired Username: </label>
    <input type="text" name="username" placeholder="username" maxlength="30"></td></tr>

    <tr><td><label>Set your password: </label>
    <input type="password" name="password" placeholder="password">
    </td></tr>

    <tr><td><label>Confirm Password: </label>
    <input type="password" name="confirm_password" placeholder="Re-enter password">
    <p></td></tr>
    <tr><td><input type="submit" value="Register"></input></td></tr></p>
  </form></span>
</table></div>