html {
  width: 90%;
  margin: auto;
  background: url(mirepoix_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  color: red;
  font-size: 65px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  background-color: white;
  /*background-color: #006600;*/
  opacity: 0.5;
  /*background-image: url("https://31.media.tumblr.com/3fe5c04fb2aa75a43d879a3ceecd3560/tumblr_mzeabo56lb1tod5ovo1_250.gif");*/

  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
h1 p {
  /*font-weight: bold;*/
  /*opacity: 2;*/
}
h3 {
  color: green;
  font-weight: lighter;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container {
  /*border: solid black;*/
}

#login {
  float: right;
  width: 20%;
  /*margin-top: -80px;*/
  margin-right:-40px;

}

label {
  color: white;
}

#new_user {
 width:50%;
 height: 50%;
 margin: 0 auto;
 vertical-align: middle;
 float: both;
 /*background-image: url('board.jpg');*/
 /*background-size: 400px 400px;*/
}
#new_user tr th {
  color: white;

}

#registration {
  /*float: both;*/
  margin: 0 auto;
  vertical-align: middle;
  margin-left: 300px;

}

#recipe_titles {
  color: green;
  font-size: 24px;
  font-weight: bolder;

}

#recipe_info {
  color: white;
}

#quote {
  color: white;
  font-size: 36px;
  margin: 0 auto;
  vertical-align: middle;
  margin-left: 300px;
  margin-top: 120px;
  width: 50%;

}