<h1><p>cuttingBoard</p></h1>

<h3>Create A New Recipe</h1>
<div>
  <p><form class ="ui fluid form" method="POST" action="/home">
    <label for ='title'>Recipe Title:</label>
  <input type = 'text' name='title' placeholder='Recipe Title Here'></p>
  <p><label for ='ingredients'>Ingredients:</label>
  <input id="ingredientsub" type = 'text' name='ingredients' placeholder='List Your Ingredients'></p>
  <p><label for ='directions'> Directions: </label>
  <input id="directionsub" type = 'text' name='directions' placeholder='Directions Here'></p>
  <input class="ui button" input type = 'submit' value='Create'>
</form>
