<h1><p>cuttingBoard</p></h1>


<div class='login'>
  <table>
  <form action='/home' method='post'>
    <tr><td><label>Username: </label>
    <input id="login_box" type="text" name="username" maxlength="30"></td></tr>
    <tr><td><label id="pw_box">Password: </label>
    <input id="login_box" type="password" name="password">
    <p>
    <input id="button2" type="submit" value="Login"></p></td></tr>
  </form>
  <tr><td><label id="signin">Sign In Above or </label></tr></td>
  <tr><td><label id="signin"><a href='/new'>Create a New Account</a></label></tr></td>
</table>
</div>

<div id="quote"><p>"The only time to eat diet food is while you're waiting for the steak to cook." <p>-Julia Child</div>


</div>
<div>
  <footer>
    <table>
      <tr id="footlogo">
        <td><font size="35px">cuttingBoard</font>
        </td>
        <td id="footinfo">"here is the footer"</td>
      </tr>
    </table>
  </footer>
</div>
