<div class='container'>
  <h1>mirepoix</h1>
  Login
  <form action="/session" method="post">
    <label>Username: </label>
    <input type="text" name="username" maxlength="30">
    <label>Password: </label>
    <input type="password" name="password">
    <input type="submit" value="Login">
  </form>
</div>
<div class='container'>
  New User Registration
  <form action="/new" method="post">
    <ul>
    <li>
    <label>Desired Username: </label>
    <input type="text" name="username" placeholder="username" maxlength="30">
    </li>

    <li>
    <label>Set your password: </label>
    <input type="password" name="password" placeholder="password">
    </li>

    <label>Confirm Password: </label>
    <input type="password" name="confirm_password" placeholder="Re-enter password">
    <li>
    <input type="submit" value="Register"></input></li>
  </ul>
  </form>
  <% if @mismatch_error_message %>
    <p><%= @mismatch_error_message %></p>
  <% end %>
  <% if @error_message %>
    <p><%= @error_message %></p>
  <% end %>
</div>
