<h1><p>mirepoix</p></h1>
<div class='container'>

  <table id='login'>
    <!-- <th>Login</th> -->
  <form action="/session" method="post">
    <tr><td><label>Username: </label>
    <input type="text" name="username" maxlength="30"></td></tr>
    <tr><td><label>Password: </label>
    <input type="password" name="password">
    <p>
    <input type="submit" value="Login"></p></td></tr>
  </form>
</table>
</div>
<div class='container'>

  <table id='new_user'>
  <tr><th>New User Registration</th></tr>
  <form action="/new" method="post">
    <tr><td><label>Desired Username: </label>
    <input type="text" name="username" placeholder="username" maxlength="30"></td></tr>

    <tr><td><label>Set your password: </label>
    <input type="password" name="password" placeholder="password">
    </td></tr>

    <tr><td><label>Confirm Password: </label>
    <input type="password" name="confirm_password" placeholder="Re-enter password">
    <li></td></tr>
    <tr><td><input type="submit" value="Register"></input></td></tr>
  </form>
</table>

  <% if @mismatch_error_message %>
    <p><%= p @mismatch_error_message %></p>
  <% end %>
  <% if @error_message %>
    <p><%= p @error_message %></p>
  <% end %>
</div>
