<h1><%= @recipe.title %></h1>
<div>

  <p><h3 id='recipe_titles'>Ingredients: </h3>
    <span id='recipe_info'><%= @recipe.ingredients %></span></p>
  <p><h3 id='recipe_titles'> Directions: </h3>
    <span id='recipe_info'><%= @recipe.directions %></span></p>
</div>